<html>
    <body>
        <form action="/madlib">
            <div>
                <label for="person">Name of a person:</label>
                <input type="text" name="person" id="person">
            </div>
            <div>
                <label for="color">Color:</label>
                <input type="text" name="color" id="color">
            </div>
            <div>
                <label for="noun">Noun:</label>
                <input type="text" name="noun" id="noun">
            </div>
            <div>
                <label for="adjective">Adjective:</label>
                <input type="text" name="adjective" id="adjective">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>