{% extends 'base.html.njk' %}

{% block title %}Madlibs - Home{% endblock title %}

{% block body %}
    <h1>Hi! This is the homepage.</h1>
    <a href="/hello">Begin here</a>
  </body>
</html>
{% endblock body %}